/* Colors and palettes used across the app. */
$color_font_white: #fafafa;
$color_font_light: #e0e0e0;
$color_font_medm: #616161;
$color_font_dark: #212121;

$color_grey_light: #f5f5f5;
$color_grey_dark: #37474f;

/* Typograhpy variables used for desktop. */
$font_size_h1_desktop: 34px;
$font_size_p_desktop: 16px;

/* Typograhpy variables used for mobile. */
$font_size_h1_mobile: 30px;
$font_size_p_mobile: 14px;

/* Typograhpy variables that are common. */
$font_weight_norm: 400;
$font_weight_bold: 700;

$font_margin_h1: 0.36em;
$font_margin_p: 0.875em;

$line_height_h1: 1.18em;
$line_height_p: 1.5625em;

/* Breakpoint variables used for layout. */
$bp_width_mobile: 1200px;
$bp_width_desktop_lg: 1920px;
$bp_width_desktop_xlg: 2560px;
