@import 'styles/mixins';
@import 'styles/variables';

$section_pad_h_mobile: 30px;
$section_pad_v_mobile: 40px;

$section_pad_h_desktop: 50px;
$section_pad_v_desktop: 60px;

$section_h1_width_max_mobile: 440px;
$section_p_width_max_mobile: 560px;

$section_h1_width_max_desktop: 500px;
$section_p_width_max_desktop: 620px;

.Section {
  padding: $section_pad_v_mobile $section_pad_h_mobile;

  @include mobile-up {
    padding: $section_pad_v_desktop $section_pad_h_desktop;
  }
}

.SectionTrans {
  @extend .Section;
  background-color: transparent;

  & + & {
    padding-top: 0;
  }
}

.SectionLight {
  @extend .Section;
  background-color: white;

  & + & {
    padding-top: 0;
  }
}

.SectionMedm {
  @extend .Section;
  background-color: $color_grey_light;

  & + & {
    padding-top: 0;
  }
}

.SectionDark {
  @extend .Section;
  color: $color_font_white;
  background-color: $color_grey_night;

  & + & {
    padding-top: 0;
  }

  p {
    color: $color_font_light;
  }
}

.SectionTitle,
.SectionText {
  margin-left: auto;
  margin-right: auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.SectionTitle {
  max-width: $section_h1_width_max_mobile;

  @include mobile-up {
    max-width: $section_h1_width_max_desktop;
  }
}

.SectionTitleDefault {
  @extend .SectionTitle;
}

.SectionTitlePrimary {
  @extend .SectionTitle;

  span:nth-of-type(odd) {
    color: $color_primary;
  }

  span:nth-of-type(even) {
    color: $color_secondary;
  }
}

.SectionTitleSecondary {
  @extend .SectionTitle;

  span:nth-of-type(odd) {
    color: $color_secondary;
  }

  span:nth-of-type(even) {
    color: $color_primary;
  }
}

.SectionTitle + .SectionText {
  margin-top: 0;
}

.SectionText {
  max-width: $section_p_width_max_mobile;

  @include mobile-up {
    max-width: $section_p_width_max_desktop;
  }
}
