@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'index.css';

@import 'styles/variables';
@import 'styles/mixins';

body {
  margin: 0;
  color: $color_font_dark;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: inherit;
  margin-top: $font_margin_h1;
  margin-bottom: $font_margin_h1;

  line-height: $line_height_h1;
  font-weight: $font_weight_bold;
  font-size: $font_size_h1_mobile;

  @include mobile-up {
    font-size: $font_size_h1_desktop;
  }
}

p {
  color: $color_font_medm;
  margin-top: $font_margin_p;
  margin-bottom: $font_margin_p;

  line-height: $line_height_p;
  font-weight: $font_weight_norm;
  font-size: $font_size_p_mobile;

  @include mobile-up {
    font-size: $font_size_p_desktop;
  }
}
